<h1> Listing all Todos </h1> <!--index2-->

<p>
  <%= link_to "Create a Todo", new_todo_path %> <!-- this is to create a new path back to todo page ,why new todo_path, check the rails routes new_todo GET    /todos/new(.:format)      todos#new -->
</p>

<table> <!-- index 3, create a index table -->
  <tr>
    <th> Name </th>
    <th> Description </th>
  </tr>

  <% @todos.each do |todo| %> <!--now loop through all display that we had, get it connected to todos -->
   <tr>
     <td><%= todo.name %> </td>
     <td><%= todo.description %> </td>
     <td><%= link_to "Edit", edit_todo_path(todo) %></td> <!-- to create a Edit link -->
     <td><%= link_to "Show", todo_path(todo) %></td> <!-- to create a Show link , but once  click show, it doesnt have a  link to go back-->
<!-- now go to show.html.erb -->

  <!--Delete1-->
      <td><%= link_to "Delete", todo_path(todo), method: :delete, data: {confirm: "Are you sure?"} %> </td>    <!-- once u write this, go to rails routes, you will see DELETE /todos/:id(.:format)      todos#destroy, means it must go to /todos/ -->
   </tr>
   <%end%>
</table>
<!-- method: :delete => we must specified is a delete method, now we must add a Destroy controller, now go to todos_controller 
