<!-- D3, create a todos folder 1st cause it 1st find a todos folder at views and then from def new, it will find a new.html.erb -->

<h1> Your Todo App </h1> <!--todo1, create a title-->


<!-- initiate a Todo instance variable
todo1 = Todo.new
instance variable

corresponding action:
 new - form to create a new todo
 submits to create - hits the database or gives an error

 edit - form to edit an existing todo
 submits to update - hits the database with patch or gives an error

 -->
<% if @todo.errors.any? %> <!--todo8--> 
<h2> The following errors prevented the todo from being saved</h2>
<ul>
  <%@todo.errors.full_messages.each do |msg| %>
  <li><%= msg %> </li>
  <%end%>


</ul>
<%end%>
<%= form_for @todo do |f| %> <!-- todo2 this is to create a form with form_for that link to @todo, you will see |f| cause they're assigned to f,
  example like f.label,  go to todos_controller.rb  -->
<p>

  <%= f.label :name %> <br>  <!-- this create name and form -->
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :description %> <br> <!-- this create description and form -->
  <%= f.text_area :description %>
</p>

<p>
  <%= f.submit %> <!-- you need to create a action 'create' in TodosController, cause if you click now, it will show error, now go to todos_controller.erb -->
</p>
<% end %>
