<!DOCTYPE html>
<html>
  <head>
    <title>Todoappo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>  <!--partial 2, when you cut the code and paste it at _messages.html.erb, you must place
    render as below, render 'layouts/messages'; messages is _message.html.erb --> 
     <%= render 'layouts/messages' %>

    <%= yield %>
  </body>
</html>
